# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# DuckDB database
*.duckdb
*.duckdb.wal

# Generated outputs
outputs/*.parquet

# Generated data
data/raw/
data/processed/*.parquet

# Allow processed files required by the dashboard
!data/processed/hvfhv_hourly_demand.parquet
!data/processed/hvfhv_trip_features.parquet
!data/processed/hvfhv_zone_hourly_demand.parquet

# OS / IDE
.DS_Store
.vscode/

# Environment
.env